[2020-03-21 13:50] a3ilson opened #2 "Containerization of PFELK #69"
This issues was initially opened within pfelk [(#69)](https://github.com/3ilson/pfelk/issues/69) with the goal of containerizing pfelk which was accomplished.  The outlier is adding/configuring a cron job to update GeoIP.

[2020-04-08 22:16] mmohoney opened #4 "Logstash Crashing GeoIP Volume Location"
**Describe the bug**
Logstash crashes due to the volume path in the `docker-compose.yml` for GeoIP. According to that error it is looking in the path `/usr/share/GeoIP/`, but the volume is mounted to `/usr/share/logstash/GeoIP/`

https://github.com/3ilson/docker-pfelk/blob/651a902cfe7a22b637046d6938d3a0d3a996c442/docker-compose.yml#L102

[code]

Changing this to be `/usr/share/GeoIP/:/usr/share/Ge

[2020-04-08 23:09] a3ilson commented on #4
@mmohoney - Awe....My last update dorked up all the paths.... I'm fixing them now

[2020-04-08 23:28] a3ilson commented on #4
@mmohoney - All paths were updated and corrected.  I just installed a fresh instance without any issues. I apologize for the inconvenience.  Please give it another try (you'll need to download the pfelkdocker.zip that contains all the updated *.conf files).

[2020-04-08 23:29] a3ilson commented on #4
Once you have verified that it works, please close this issue.

[2020-04-09 00:32] mmohoney commented on #4
@a3ilson just stood up a new install successfully 👍 . I figured the paths needed updating as I had done that to get my install working earlier too.

[2020-04-09 00:33] a3ilson commented on #4
Great/thanks!

[2020-04-09 00:35] mmohoney commented on #4
I can open a new issue if you like, but as far as the dashboards, anything special besides using the pf-* index pattern and the files under the Dashboard folder? When I bring in the latest dashboard, most tiles say - "Could not locate that index-pattern-field (id: event.action.keyword)" and the like.

[2020-04-09 00:36] mmohoney commented on #4
Should note, I have a manual install that I stood up in November with working dashboards but figured I would try Docker since I have a ton of other containers I run

[2020-04-09 01:59] a3ilson commented on #4
@mmohoney - I just imported and didn't have any issues.  You may need to let it collect logs for a few minutes and refresh the fields. (Kibana>>Management>>Index Patterns>>pf-* and click the refresh icon.

When importing be sure to select the corresponding index pattern - see image below:
![import](https://user-images.githubusercontent.com/16884679/78850065-32ccac00-79e4-11ea-8282-5c4f6a82ec9c.png

[2020-04-09 02:06] mmohoney commented on #4
Yep that was it. Refreshing the index after a while brought in the missing fields. Liking the docker install so far.

Thanks for the time!

[2020-04-09 02:06] #4 closed, assigned to a3ilson

[2020-04-18 18:08] denmark111 opened #5 "logstash crashes with error"
**Describe the bug**
While trying to make it work as described in HOWTO guide, I noticed that logstash crashes repeatedly with error below

**To Reproduce**
Steps to reproduce the behavior:
Install ELK as described in the guide.

**Screenshots**
[ERROR LOG]
logstash    | Could not find log4j2 configuration at path /usr/share/logstash/config/log4j2.properties. Using default config which logs errors

[2020-04-18 18:18] denmark111 commented on #5
Seems like GeoLite2-ASN.mmdb is missing since I only see GeoLite2-City.mmdb and GeoLite2-Country.mmdb in /usr/share/GeoIP directory with additional GeoIP.dat, GeoIPv6.dat.

[2020-04-18 18:36] a3ilson commented on #5
It appears the location of the MaxMind files cannot be located.  You'll need to modify your GeoIP.conf file (/etc/GeoIP.conf) and amend line 13 as follows: ```EditionIDs GeoLite2-City GeoLite2-Country GeoLite2-ASN```
Next, run ```sudo geoipupdate -d /usr/share/GeoIP/```

That should pull the required MaxMind files.  Restart the docker and it should work.  I'll update the instructions.  Thanks for

[2020-04-19 04:00] denmark111 commented on #5
Thanks for your quick feedback!
Modifying GeoIP.conf did the trick!!

[2020-04-19 04:00] #5 closed, assigned to a3ilson

[2020-04-26 02:51] #2 closed, assigned to a3ilson

[2020-04-28 13:56] ulisesgasco opened #6 "map not working"
Hi,

All working perfectly only map not working give me blank page

**Screenshots**
https://imgur.com/4ROdgmP
https://imgur.com/sD8jnAr

**Operating System (please complete the following information):**
 - OS
**Linux 4.15.0-96-generic x86_64

NAME="Ubuntu"

VERSION="18.04.3 LTS (Bionic Beaver)"

ID=ubuntu

ID_LIKE=debian

PRETTY_NAME="Ubuntu 18.04.3 LTS"

VERSION_ID="18.04"

HOME_URL="https://www.

[2020-04-28 14:52] a3ilson commented on #6
@ulisesgasco - Can you provide a screenshot of Kibana>>Discover?  Depending on how Docker was configured the network may be inhibiting proper filtering.  Please update the 01-inputs.conf as follows, rebuild your docker and let me know if this corrects the issue:

[code]
Update line 17/20 as needed for pfSense/OPNsense

[2020-04-29 09:28] ulisesgasco commented on #6
same issue not working

note :- all traffics goes ------- openvpn clients not wan

[2020-05-01 03:07] a3ilson commented on #6
@ulisesgasco - can you provide a screenshot of kibana>>discover?

[2020-05-03 03:50] ulisesgasco commented on #6
I solved it

add `map.proxyElasticMapsServiceInMaps true` on kibana.yml

https://discuss.elastic.co/t/map-is-not-visible-in-kibana-7-1/186430/7

[2020-05-20 18:38] #6 closed, assigned to nobody

[2020-06-10 09:43] SaymonDzen opened #7 "Logstash Grok::PatternError: pattern %{SNORT} not defined"
**Describe the bug**
Data does not flow to elasticksearch.

**To Reproduce**
Configured by default. Changed only ip Pfsence and maxmind added in docker. In logs logstash See error
[ERROR] 2020-06-10 08:57:49.898 [[main]-pipeline-manager] javapipeline - Pipeline aborted due to error {:pipeline_id=>"main", :exception=>#<Grok::PatternError: pattern %{SNORT} not defined>, :backtrace=>["/usr/share/logs

[2020-06-10 10:12] a3ilson commented on #7
@SaymonDzen - thanks and I’ll test and troubleshoot this within the week.

Initially, it appears there may be an issue with the setup more so an issue communicating with elastic.  The error indicating the referenced snort pattern is missing and likely a missing or misplace file location of the grok pattern.

[2020-06-10 16:37] SaymonDzen commented on #7
i removing the 25-snort.conf and restart logstash. the problem resolved and the data went to the elastic.

[2020-06-10 21:18] a3ilson commented on #7
@SaymonDzen - Did you download the Zip file or did you manually download the corresponding files?  I noted a missing "/" from the snort file on line 8. I just corrected the omission but did not note it within the contained Zip file.

If you downloaded from the file independent (not the ZIp).  The issue is corrected...otherwise I'll troubleshoot later this week.

Thanks!

[2020-06-16 16:29] SaymonDzen commented on #7
this issue resolved!

[2020-06-16 16:29] #7 closed, assigned to a3ilson

[2020-08-19 05:27] xchg-ax-ax opened #9 "config of 50-output"
**Describe the bug**
A reference to pfelk01 still exists in logstash config file 50-outputs.conf. This prevents logstash from finding the elasticsearch instance, when running with a single elasticsearch instance.

[2020-08-19 10:46] a3ilson commented on #9
@xchg-ax-ax - Updated 50-outputs.conf.  Thanks and please give it another try.

[2020-08-19 14:51] xchg-ax-ax commented on #9
This works! thx!

[2020-08-19 16:06] #9 closed, assigned to a3ilson

[2020-09-02 10:18] xternaal opened #10 "volume directories seem to be wrong?"
Hi,
When building the docker-compose the docker seems to point to /usr/share/logstash/etc... when infact the pipelines etc just point to /etc/...
also the maxmind points to /usr/share/logstash/GeoIP and not /usr/share/GeoIP

If I change it to /usr/share/GeoIP it then works. However I am still having issues with the first volume issue above and am reluctant to make wholesale changes through the con

[2020-09-03 19:47] massaquah opened #11 "Logstash crashes during startup "Could not execute action: PipelineAction""
logstash         | [2020-09-03T19:43:32,859][INFO ][logstash.outputs.elasticsearch][main] New Elasticsearch output {:class=>"LogStash::Outputs::ElasticSearch", :hosts=>["http://elasticsearch:9200"]}
logstash         | [2020-09-03T19:43:32,864][INFO ][logstash.filters.geoip   ][main] Using geoip database {:path=>"/usr/share/logstash/GeoIP/GeoLite2-City.mmdb"}
logstash         | [2020-09-03T19:43:32

[2020-09-03 21:33] a3ilson commented on #11
Thanks! Working to revise and correct...

[2020-09-04 21:45] a3ilson commented on #10
@xternaal - update/fixed a number of issues.  Tested and working...please confirm and close this issue.

[2020-09-04 21:45] a3ilson commented on #11
@massaquah - update/fixed a number of issues.  Tested and working...please confirm and close this issue.

[2020-09-05 06:34] xternaal commented on #10
All working - Many Thanks!

[2020-09-05 06:34] #10 closed, assigned to a3ilson

[2020-09-05 08:40] massaquah commented on #11
I can confirm that its working now.
I just had to edit docker-compose for single node use.

[2020-09-05 08:40] #11 closed, assigned to a3ilson

[2020-10-02 20:54] noodlemctwoodle opened #12 "Combined DockerFile"
Is it possible to build a single docker file with all the elements of pfelk in it?

The reason I ask and I know its been asked before is then we could run this stack on UnRAID.

Thanks. 👍

[2020-10-02 22:50] noodlemctwoodle commented on #12
I've forked another elk repo and merged the pfelk config into the fork, I've hosted the `pfelk-test` on DockerHub..

I now have pfelk running on unraid, with access to geoipupdate in another container 🍡

Im going to write up a guide on how to do it if your interested in putting it on your wiki 👍

[2020-10-02 22:59] a3ilson commented on #12
Absolutely! I added you and you should be able to author and post your guide within the Wiki pages.

[2020-10-02 23:08] noodlemctwoodle commented on #12
Perfect 👍

![image](https://user-images.githubusercontent.com/15075388/94976548-3eb9a680-050d-11eb-820c-1ada39f8c30b.png)

POC is working, bed time now

[2020-10-03 19:39] noodlemctwoodle commented on #12
Moving this to the pfelk repo

[2020-10-03 19:39] #12 closed, assigned to nobody

[2020-10-18 19:14] 8270647 opened #13 "Logstash PipelineAction ERROR on startup"
Continuing to see Logstash failure at startup when docker-compose set to one node

[code]

[2020-10-19 14:01] a3ilson commented on #13
Thanks!  Will be updating the docker instance shortly.  However, the current setup was tested as depicted within the instructions...unable to replicate the error.

[2020-10-21 21:09] hcwwadmin opened #14 "logstash can not connect to localhost_9200"
logstash     | [WARN ] 2020-10-21 21:04:11.839 [Ruby-0-Thread-12: /usr/share/logstash/vendor/bundle/jruby/2.5.0/gems/logstash-output-elasticsearch-10.6.2-java/lib/logstash/outputs/elasticsearch/http_client/pool.rb:241] elasticsearch - Attempted to resurrect connection to dead ES instance, but got an error. {:url=>"http://localhost:9200/", :error_type=>LogStash::Outputs::ElasticSearch::HttpClient::

[2020-10-21 22:14] a3ilson commented on #13
@8270647 - Try again but use this [yml](https://github.com/3ilson/docker-pfelk/tree/master/scale) file instead

[2020-10-21 23:20] a3ilson opened #15 "Rules & Ports conf Files Not Parsing w/Logasth"
**Describe the bug**
The 35-rules-desc.conf and 36-ports-desc.conf files crash logstash. Omitting for further troubleshooting

**To Reproduce**
Steps to reproduce the behavior:
Follow the docker install instructions

**Screenshots**
![Capture](https://user-images.githubusercontent.com/16884679/96799917-20d7b700-13d2-11eb-93fe-7e564bc709bb.PNG)

**Elasticsearch, Logstash, Kibana (please complete th

[2020-10-21 23:31] a3ilson commented on #14
@hcwwadmin - I apologize for the inconvenience.  I failed to properly update the `50-outputs.conf` file.  The host should have been `http://elastic:9200` and not `http://localhost:9200`

Additionally, I found that both the `35-ruels-desc.conf` and `36-ports-desc.conf` files resulted in logstash crashing.

Please give it another try with the revised files.  I've tested without issue.

[2020-10-22 02:39] hcwwadmin commented on #14
the error is gone
thanks for your help

[2020-10-22 02:39] #14 closed, assigned to nobody

[2020-10-22 02:57] hcwwadmin opened #16 "logstash giving warning and error for pipline and java"
[code]

[2020-10-22 03:25] a3ilson commented on #16
@hcwwadmin - Is this related to your previous issue (#14)?

I've tested with the currently posted conf files without issue but the error provided in your comment above points to a missing element within column 1 line 6.  Did you change/amend the files?

[2020-10-22 16:26] massaquah opened #17 "Kibana Visualization error "[esaggs] > Bad Request""
Hello,
thank you for updating the pfelk-repo!
I just tried it out, following the steps [here](https://github.com/3ilson/docker-pfelk) and [here](https://github.com/3ilson/docker-pfelk/blob/master/finalize.md) but ended up with an empty dashboard with an error mark at each visualization saying:
"[esaggs] > Bad Request"

Only the vis. Firewall - Discover is working.

I can confirm that data is comin

[2020-10-22 17:22] a3ilson commented on #17
@massaquah - To confirm, you conducted a clean/new install or update?  I just fired up a fresh instance imported the templates and dashboard without issue. I've seen this error when conflicting data was already stored and resolved by deleting and reloading the saved objects.

I would suggest the following:

- [ ] Confirm indices are loaded (see image below)
- [ ] Delete all Kibana saved objects
-

[2020-10-22 18:47] massaquah commented on #17
I can confirm that I did a clean install.

I just tried it again
- stopping all containers
- doing a "docker system prune --all --volumes"
- removing the pfelk directory where I unzipped pfelkdocker.zip

then
- pulling and bringing up the fresh containers
- importing the templates
- importing the dashboards
BAM

Now I get another error at this point:

![image](https://user-images.githubusercontent

[2020-10-22 18:55] massaquah commented on #17
The Dashboard version from 4 days ago can be imported without any error.
But then again, I get the empty dashboard with the error mentioned in the title....

[2020-10-22 19:46] massaquah commented on #17
I had a deeper look into one of the visualizations and found this error. Maybe that helps?

![image](https://user-images.githubusercontent.com/6074180/96922710-7c787200-14b0-11eb-83db-50f80aab263b.png)

EDIT: Solution here? https://stackoverflow.com/questions/38145991/how-to-set-fielddata-true-in-kibana

[2020-10-22 20:14] a3ilson commented on #17
@massaquah - I went through an installed per the GitHub instructions and posted a quick overview view [here](https://www.youtube.com/watch?v=7kKb-36jZpc).

I made some minor tweaks within the repo, to align with elastic.co and posted those updates which were utilized in the quick install tutorial video.

I only had an issue/error with the snort dashboard...all other objects imported without issue.

[2020-10-23 07:35] massaquah commented on #17
@a3ilson , thank you for the video. I did a clean install again and cautiously followed the video only to realize that my previous attempts followed the exact same steps.

Again, I ended up with an empty dashboard and the error "[esaggs] > Bad Request" in each box.

Then I investigated a little more and observed a potential mismatch between the index template and the actual index:

Template (pfelk

[2020-10-23 07:48] massaquah commented on #17
I found the same issue here:
https://github.com/wazuh/wazuh-kibana-app/issues/2420#issuecomment-672624914

and the solution here:
https://github.com/wazuh/wazuh-kibana-app/issues/2420#issuecomment-673276101

So I just stopped OPNsense output, deleted the index and restarted the output. Now dashboard looks fine.

[2020-10-23 15:26] a3ilson commented on #17
@massaquah - 👍

I should have been more explicit with my initial response.  If the logs are being sent prior to the importing of the templates, the field types will not be properly identified resulting in the described error.

However, I'm glad you were able to solve and will close this issue - thanks!

[2020-10-23 15:26] #17 closed, assigned to nobody

[2020-10-25 20:49] 8270647 commented on #13
Couldnt get it to start. I can close this issue and wait for a future release. Will go with scripted install for now. Thanks for looking!

[2020-10-25 20:49] #13 closed, assigned to nobody

[2020-10-29 16:03] b4b857f6ee opened #18 "Dashboard Sorry, there was an error import"
**Describe the bug**
I can't import dashboard

Thank you for your help 👍

**To Reproduce**
Steps to reproduce the behavior:
1. Install the lastest docker pfelf
2. Import the template
3. try to import Firewall dashboard v6.0 - Firewall.ndjson

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/36012515/97598203-fce62800-1a

[2020-10-29 16:26] a3ilson commented on #18
@b4b857f6ee - Based on your logs, your accessing Kibana from a Windows OS - correct? If so when downloading the .ndjson file to import pay particular attention to the file extension.

I would recommend using a text editor such as [sublime](https://www.sublimetext.com/) or [Notepad++](https://notepad-plus-plus.org/) as the windows text editor will add a txt extension resulting in the error describe

[2020-10-29 16:47] b4b857f6ee commented on #18
Hum... I'm just Drag and drop the ndjson into the Interface.

I'm using this one :
![image](https://user-images.githubusercontent.com/36012515/97606848-8c440900-1a10-11eb-824e-3a294fc7de7c.png)

[2020-10-29 17:05] b4b857f6ee commented on #18
Ok import of Suricata work, HAproxy too with the same alert as your YT video

[2020-10-29 17:07] b4b857f6ee commented on #18
Maybe because the dashboard starting with this
{"attributes":{"fields":"[{\"name\":\"@timestamp\",\"type\":\"date\",\"esTypes\":[\"date\"],\"count\":0,\"scripted\":fals

And the Suricata starting like the second line of the Firewall.ndjson

[2020-10-29 17:21] a3ilson commented on #18
You should be able to import the firewall, squid, unbound and suricata dashboards without error.  Snort and HAProxy were not developed at the same time and I've noted the import issue with both which is likely due to multiple fields being defined by multiple index patterns.

The snort template looks good but I would try one change within the haproxy template:
[code]
remove lines 75-77 as the '@tim

[2020-10-29 17:24] b4b857f6ee commented on #18
Wait a minute :D. Ok i will test.
On your opnsense guide you say port UDP 5140
but the docker logstash conf is :

ports:
      - "5044:5044"
      - "5000:5000/tcp"
      - "5000:5000/udp"
      - "9600:9600"

[2020-10-29 17:31] a3ilson commented on #18
The [01-inputs.conf](https://github.com/3ilson/docker-pfelk/blob/master/logstash/conf.d/01-inputs.conf) should contain inputs for 5140, 5141, 5040, 5190 and 5044

5140 - is for pf/opnsense
5141 - is for pf/opnsense (second instance)
5040 - is for suricata
5190 - is for haproxy

The instructions depict sending pf/opnsense logs via port 5140. However, looking back at this thread...it appears you are

[2020-10-29 17:36] b4b857f6ee commented on #18
Oh i really need to do this is think :

Scaling out pfelk
Replace docker-compose.yml with this version of docker-compose.yml

[2020-10-29 17:36] b4b857f6ee commented on #18
I don't know where to found 01-inputs.conf in the docker logstash

[2020-10-29 17:38] a3ilson commented on #18
The *.conf files are located `/logstash/conf.d/`

[2020-10-29 17:39] b4b857f6ee commented on #18
Ok i think is miss something from the beginning :
![image](https://user-images.githubusercontent.com/36012515/97611185-1e024500-1a16-11eb-9b57-efa9baad9d64.png)

[2020-10-29 17:50] b4b857f6ee commented on #18
Ok ok, i have use the zip from the other repo i think; not the docker.... (idiot!!!!) Let me retry it from the start :)

[2020-10-29 17:53] a3ilson commented on #18
That is specified within the [Docker.yml](https://github.com/3ilson/docker-pfelk/blob/master/docker-compose.yml) file on lines 87-91.

For example (line 87):
[code]
The first part specifies that './logstash/config/' will bind to '/usr/share/logstash/config/'

You'll need to make sure the Docker.yml file and/or specified config files are placed in the right location otherwise the docker may fail to

[2020-10-29 17:56] a3ilson commented on #18
The instructions [here](https://github.com/3ilson/docker-pfelk) should get you up and running in a few minutes by following steps 1-4.

[2020-10-29 17:56] b4b857f6ee commented on #18
Yes i was following it but with the wrong docker content. Let me do it right now.

[2020-10-29 18:23] b4b857f6ee commented on #18
Aaaaaa Now i have no problem with the dashboard import ahah.

Just for your information, i'm going to do the same as i already done with StamusNetwork with Grafana instead of Kibana (https://github.com/b4b857f6ee/selks_grafana_dashboard)

Add on your tuto (i hope i didn't miss the line) I don't find the 5141 - is for pf/opnsense (second instance)  information :)

[2020-10-29 18:31] a3ilson commented on #18
Excellent!

The second line for port 5141 is optional.  It’s for those with more than
one of/opnsense instance.

I haven’t dabbled with Grafana but once created, I’ll be sure to add your
link.

Thanks!

On Thu, Oct 29, 2020 at 14:24 b4b857f6ee <notifications@github.com> wrote:

[2020-10-29 18:35] b4b857f6ee commented on #18
;).

Now i'm checking to get the logs.

[2020-10-30 17:45] b4b857f6ee commented on #18
Ahhh i got it :).

Thank you for your time.

[2020-10-30 17:45] #18 closed, assigned to a3ilson

[2020-11-24 19:41] a3ilson commented on #16
Is this still an issue?

[2020-11-27 11:15] xlordz commented on #16
Hi @a3ilson, yes, this still a issue. Same problem. Tested with:

- logstash 7.10.0 and 7.9.3.
- Docker version 19.03.13
- Debian Buster
- Kernel 4.19.0-12-amd64

It's missing Log4J2 configuration file but that's ok.
The ruby problem I solved with this: (https://github.com/elastic/logstash/issues/10496), but removed to post here. The pipeline problem persists even solving the ruby warnings.

logst

[2020-11-27 14:46] xlordz commented on #16
Puzzle Solved.

logstash/conf.d/05-firewall.conf:5
-- patterns_dir => [/usr/share/logstash/etc/logstash/conf.d/patterns"]
++ patterns_dir => ["/usr/share/logstash/etc/logstash/conf.d/patterns"]

[2020-11-27 15:00] a3ilson commented on #16
Thanks!

The file was updated and apologize for any inconvenience.

[2020-11-27 15:00] #16 closed, assigned to nobody

[2020-11-27 15:09] xlordz commented on #16
Don't apologize, you've made a really great job!
Thanks!

[2020-12-21 17:35] sdresen opened #20 "Dashboard Visualization Erros"
**Describe the bug**
Fresh install using Docker.  Visualizations in dashboards showing errors and not presenting data.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install of Ubuntu 20.04
2. Fresh install of Docker
3. Fresh install of MaxMind
4. pfElk docker install script executed without errors
5. pfElk configuration followed in order without errors
![Index Mgmt](https://user-imag

[2020-12-21 17:58] a3ilson commented on #20
@sdresen - Thanks for providing a detailed request.

Let's break this down into two segments:
1. `observer.name`
2. Dashboards not populating (i.e. errors)

## 1. Observer.Name
- This field is defined within the `02-types.conf` file along with `observer.product` and `observer.serial_number`
  - These fields are user defined
  - Amend to meet your needs (e.g. allow for delineation among multiple in

[2020-12-21 18:47] sdresen commented on #20
Thank you for the quick response.  I think deleting the indices did much of the trick to get the reporting working.  I updated the observer.product and observer.serial_number fields.  I did confirm that the pfelk-settings and pfelk-mappings-ecs are present in the Component Templates section (screen shot attached).

The Firewall and DHCP visualizations appear to be working correctly.  I'm still see

[2020-12-21 18:52] a3ilson commented on #20
@sdresen - Whew...glad that resolved most of the issue. I suspect that you had logs being sent prior to configuring (adding) the various templates if so the remedy is to purge the current indices which appears to have resolved your issue.

As for the unbound portion, are you running unbound (I assume you are)? However, the initial screenshot did not depict any indices (i.e. no received logs).

[2020-12-21 19:38] sdresen commented on #20
The unbound issue may be that there's no DNS traffic hitting the pfSense unbound server.  Unbound is active and running but I use PiHole's internally.  So, could be simply that there's no traffic resolution hitting it.

[2020-12-21 19:43] a3ilson commented on #20
That would be it! So looks like your up/running (e.g. everything good?).

[2020-12-21 20:04] sdresen commented on #20
Yes, all good, many thanks!

[2020-12-21 20:05] a3ilson commented on #20
Resolved

[2020-12-21 20:05] #20 closed, assigned to a3ilson

[2021-01-06 02:25] nibblesandbits007 opened #21 "Docker Configuration Bugs"
**Describe the bug**
When following the documentation, the logstash container is unable to reach the `es01` instance because the output host is set to `http://localhost:9200` rather than `http://es01:9200`.

Additionally, the MaxMind [documentation](https://github.com/pfelk/pfelk/wiki/How-To:-MaxMind-via-GeoIP-with-pfELK#2-configure-maxmind) states to update line 18 to be `DatabaseDirectory /usr/s

[2021-01-06 02:42] #21 closed, assigned to a3ilson

[2021-01-08 10:40] SaiKiran449 opened #23 "No visualizations in Squid Dashboard"
**Describe the bug**
I have deployed the pfelk through docker containers. I am able to receive the data from my pfsense to the elastic and I can see the indices created in Kibana and the data is being added to the index. However, I can't see the visualization in the Squid dashboard

**To Reproduce**
Steps to reproduce the behavior:
1. Install pfelk with docker
2. Install the templates(component an

[2021-01-08 12:44] a3ilson commented on #23
@SaiKiran449 - thanks for the inquiry!

The squid portion was built utilizing OPNsense. The logs are sent in the json format thus not requiring a grok pattern.  However, i see that you are using pfSense which I believe may be sending the squid logs differently.

Are you able to provide setup steps and options? Additionally, if you don’t mind are are able to send squid logs in their raw format (san

[2021-01-08 14:44] SaiKiran449 commented on #23
Hi @a3ilson,

Thanks for the insights!

Here are the steps to setup the Squid in pfSense:
- I followed the below references that has step-by-step guide on setting up Squid with pfSense.
Ref:
  1)https://kifarunix.com/install-and-setup-squid-proxy-on-pfsense/ (To setup squid)
  2)https://forum.netgate.com/topic/44881/redirecting-squid-squidguard-logs-to-remote-syslog (To redirect Squid logs to remo

[2021-01-08 15:00] a3ilson commented on #23
This is perfect!

Based on your logs, it appears the squid logs from pfSense are not sent in the JSON format. Let me incorporate this into the grok pattern and if you don't mind, I will likely have you implement and validate that it works.

[2021-01-08 15:25] SaiKiran449 commented on #23
Sure. I will validate it.

[2021-01-08 16:09] a3ilson commented on #23
Almost done with the grok pattern...conforming it to ECS which I'll highlight why in a subsequent message.  However, I was curious as the syntax of the squid log file(s) located on pfSense and wondering it syslog-ng would allow sending squid logs in json?

I'll need to get an instance of pfsense 2.5.0 up to check the new output options too...which so far will break a number of things within this p

[2021-01-08 17:00] a3ilson commented on #23
@SaiKiran449 - Alright... I've amended and added support for squid via pfSense.  Please make the following changes and let me know if it works...The dashboard may not be fully populated as I noted various differences between the OPNsense (json) output and the output of pfSense.  However, we can improve that once, we've verified that the squid pattern is parsing.

### Required Amendments:
- Amend 0

[2021-01-08 17:12] SaiKiran449 commented on #23
@a3ilson Thanks. It worked perfectly. I can see the logs being parsed and visualized in the dashboard.

![image](https://user-images.githubusercontent.com/54279502/104043601-0c050580-5202-11eb-97f5-b76ed866b737.png)
![image](https://user-images.githubusercontent.com/54279502/104043645-1fb06c00-5202-11eb-886f-1136ee7f8c61.png)
![image](https://user-images.githubusercontent.com/54279502/104043671-29

[2021-01-08 17:22] a3ilson commented on #23
Great!  Let it run for a bit...but I suspect that there may be a few visualizations that will need tweaking.  Just provide a sample of raw squid logs and a screenshot of fields being parsed via Discover (reference below):

![Screen Shot 2021-01-08 at 12 20 50](https://user-images.githubusercontent.com/16884679/104045038-fc5ad200-51ab-11eb-80cb-63030ec8686a.png)

As mentioned previously, I'm workin

[2021-01-08 17:43] SaiKiran449 commented on #23
Here are the logs:

[code]

Please find the screenshots below:
![image](https://user-images.githubusercontent.com/54279502/104047047-03fb9480-5207-11eb-8ab1-7ecc2fd39ba4.png)
![image](https://user-images.githubusercontent.com/54279502/104047059-0958df00-5207-11eb-8ef7-0cbd05511b30.png)

[2021-01-08 17:55] a3ilson commented on #23
Alright....it doesn't appear that pfSense provides the `user.agent` fields to populate the two visualizations towards the bottom.  However, below is a quick video to get the upper right visualization working:

https://user-images.githubusercontent.com/16884679/104048066-ac323e80-51b0-11eb-9b0d-080004813f2e.mov

You may remove the other two elements and/or amend them to something else. I'll update

[2021-01-09 04:11] a3ilson commented on #23
Perfect...can we close this issue?

[2021-01-09 04:24] SaiKiran449 commented on #23
Thanks for the help. It is working fine.

Yes, you can close this issue.

[2021-01-09 04:37] a3ilson commented on #23
Issue resolved

[2021-01-09 04:37] #23 closed, assigned to a3ilson

[2021-01-10 15:17] ghost opened #24 "Installation Error Docker"
(3b) Set vm.max_map_count to no less than 262144 (one time configuration)

sudo echo "vm.max_map_count=262144" >> /etc/sysctl.conf

Note this command failed with privileges on Debian Buster.
su root was required to run command

counciller@buster:~$ sudo echo "vm.max_map_count=262144" >> /etc/sysctl.conf
-bash: /etc/sysctl.conf: Permission denied
counciller@buster:~$ su root
Password:
root@buster:/

[2021-01-10 15:26] a3ilson commented on #24
How much RAM does your system have?

[2021-01-10 20:01] thepagan commented on #24
Same here, 24G ram. 6 cores. Ubuntu 20.04, with stock docker docker-compose.

`$ sudo docker-compose up`
`Building es01`
`Step 1/2 : ARG ELK_VERSION`
`Step 2/2 : FROM docker.elastic.co/elasticsearch/elasticsearch:${ELK_VERSION}`
`ERROR: Service 'es01' failed to build: invalid reference format`

[2021-01-10 20:26] a3ilson commented on #24
@thepagan - the initial issue was a result of insufficient ram.  I’ve tested and validated on an 8gb/1c VM.

Please check the following:
- is the .env file present?
- How did you see the: vm.max_map_count=262144 ?
  - 3a or 3b?
  - 3a should work
  - 3b may require a reboot and subsequent check to confirm it was/is set.

[2021-01-10 20:30] thepagan commented on #24
Whelp that's the issue. The .env file is not present in the zip file. I manually created it and it seems to be working. Thanks!

[2021-01-10 20:51] a3ilson commented on #24
Dang.... let me fix the zip file and apologize for the inconvenience.

[2021-01-10 21:01] a3ilson commented on #24
Issue resolved with updated Zip file containing multiple fixes (Squid parsing and missing .env file)

[2021-01-10 21:01] #24 closed, assigned to a3ilson

[2021-01-10 21:01] a3ilson commented on #24
Issue resolved with updated Zip file containing multiple fixes (Squid parsing and missing .env file)

[2021-02-17 12:24] a3ilson commented on #15
Issues resolved/fixed

[2021-02-17 12:24] #15 closed, assigned to nobody

[2021-02-21 10:54] thowe-switzerland opened #26 "Download Link in instructions still pointing to master instead of main"
**Describe the bug**
When one tries to follow the instructions, download e.g. of the docker ZIP file will fail because of changed branch name (master --> main).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/pfelk/docker'
2. Follow instructions
3. At (2) Download pfELK Docker try to download the ZIP
4. See error 404 as master is now named main

[2021-02-21 11:28] a3ilson commented on #26
@thowe-switzerland - Thanks for your input and apologies for the recent oversight. The issue was fixed/corrected.

[2021-02-21 11:28] #26 closed, assigned to nobody

[2021-02-21 11:29] thowe-switzerland commented on #26
Thanks! Having a lot of fun with OPNsense and Pfelk. :-)

[2021-02-21 11:58] a3ilson commented on #26
Excellent! Hope it is useful and drop a line if you have any comments/suggestions.

[2021-03-14 17:26] panks21 opened #27 "logstash.yml still refers to http://es01:9200"
https://github.com/pfelk/docker/blob/0a80883c771c9de15a92334cad94ba17cd4e6765/etc/logstash/config/logstash.yml#L11

Shouldn't it be
[code]

[2021-03-14 17:32] a3ilson commented on #27
The Elasticsearch hosts are es01, es02, and es03.  pfelk is not a defined host....additionally, these settings can be configured within the docker-compose.yml file, if desired.

Reference: https://www.elastic.co/guide/en/logstash/current/docker-config.html

[2021-03-14 17:43] panks21 commented on #27
Apologies for my ignorance
In https://github.com/pfelk/docker/blob/main/scale/docker-compose.yml
I see the host defined as pfelk.. hence asked

[2021-03-14 18:33] a3ilson commented on #27
@panks21 - no apologies needed. I didn't realize that you were referring to the scalable instance and you are correct if utilizing the scalable.

[2021-03-15 12:36] panks21 commented on #27
Thanks. Closing the issue

[2021-03-15 12:36] #27 closed, assigned to nobody

[2021-03-20 15:44] lcia-projects opened #28 "docker - logstash cant find conf files"
i can get pfelk to run natively (not docker) just fine.. but i'd really prefer a docker installation. I've watched the youtube videos..

I get this error: logstash    | [INFO ] 2021-03-20 15:39:28.963 [Agent thread] configpathloader - No config files found in path {:path=>"/etc/pfelk/conf.d/*.conf"}

where do i need to put the folders for it to locate..
      - ./etc/logstash/config/:/usr/share/lo

[2021-03-20 17:01] a3ilson commented on #28
Thanks for the feedback! I added to my list of things to do and/or improve but will clarify in the future. To answer your question and forgive me if this is trivial:

The first portion is the location on your host followed by where within the docker container the files/folders will be accessible

This is my current setup:
[code]
The `/etc/pfelk/config` is were the folder is on my actual host separ

[2021-03-20 22:52] lcia-projects commented on #28
thank you for the quick response. to clarify.

I need to make a folder in my host machine (server) /etc called "pfelk"
so.. /etc/pfelk

within that folder will be the files and folders listed in your response?
i swore i tried that with no luck, but i'll try again.

thanks again, great product, thank you for your hard work

[2021-03-21 00:12] a3ilson commented on #28
Correct, all files are located within the `/etc/pfelk/` path:

[code]

[2021-03-21 01:03] lcia-projects commented on #28
if thats the case.. how does that corrispond with whats in the docker-compose file:
...
[code]
i got it working but i had to change the "./etc/logstash/" to /etc/pfelk/...

[2021-03-21 01:33] a3ilson commented on #28
It does not and apologize for the confusion.  Let me clarify:

The [docker-compose.yml](https://raw.githubusercontent.com/pfelk/docker/main/docker-compose.yml) for this repo ([pfelk/docker](https://github.com/pfelk/docker)) works if following the instructions (1-4).

I am, in the future, going to combine both repos ([pfelk/docker](https://github.com/pfelk/docker/blob/main/docker-compose.yml) and [

[2021-03-21 01:58] lcia-projects commented on #28
that makes total sense. i was just using the wrong compose file.
Thank you for your quick responses and explanation.

[2021-03-21 12:00] a3ilson commented on #28
No worries and let us know if you have any additional feedback/issues.

[2021-03-21 12:00] #28 closed, assigned to a3ilson

[2021-03-24 12:47] jcastillo725 opened #29 "the volume for host logstash configuration folder does not match the container folder."
**Describe the bug**
I followed the steps for setting up PFELK on docker but I don't see logs coming in. It looks like the correct container folder for .conf files is in "/usr/share/logstash/pipeline" so I updated the volume in the docker compose yml file and was able to get logs but logstash shuts down after a few seconds.

Original volume container folder: /etc/pfelk/conf.d:ro
What I changed it

[2021-03-24 23:04] a3ilson commented on #29
Take a look at issue #28 - I plan to reorganize but am also fiddling merging the docker and host installation into one repo.

[2021-03-25 03:49] jcastillo725 commented on #29
Logstash doesn’t see any configuration file on the path “/etc/pfelk/conf.d/*.conf”

The host folder it’s referencing to is “./etc/logstash/conf.d/”
	  - ./etc/logstash/conf.d/:/etc/pfelk/conf.d:ro

But it does not contain the .conf files.

![image](https://user-images.githubusercontent.com/81306595/112416055-e945b000-8d5f-11eb-9acd-244a0249ef7c.png)

The .conf files are located in “/etc/pfelk/conf

[2021-03-25 11:32] a3ilson commented on #29
Where is the docker-compose.yml file located in reference to the pfelk files?

The docker-compose.yml is referencing those paths based on a relative path (i.e. the preceding dot). Based on your previous response your path is `/home/elastic/pfelk/` so to get docker-compose to recognize this path the docker compose will need to be placed within `/home/elastic/pfelk/`

[code]

Otherwise and alternati

[2021-03-25 16:42] jcastillo725 commented on #29
But the extracted the folder /etc/logstash does not contain the subfolder conf.d

![image](https://user-images.githubusercontent.com/81306595/112510167-25aef580-8dcc-11eb-9e75-5f66922728f0.png)

The directory /home/elastic/pfelk/ is what I created to unzip the file and the created directory looks more like:

/home/elastic/pfelk/
├── docker-compose.yml
├── elasticsearch
│   ├── Dockerfile
├── kiban

[2021-03-25 21:07] a3ilson commented on #29
Got it...the docker-compose.yml had an incorrect reference which was corrected.

I would download or update to the latest docker-compose.yml and try again - sorry for the inconvenience.

The pipelines

[2021-03-26 03:49] jcastillo725 commented on #29
Not an inconvenience at all bro . The work you're putting on this is awesome!

The last time I copied the files to what I thought to be the correct references Logstash shutdown again with this error:

The whole log is in my 2nd comment. I will try again with the updated zip file later or tomorrow.

[2021-03-26 05:15] jcastillo725 commented on #29
Just a few more minor adjustments for the following:

The databases and patterns folders within conf.d do not have the files.. The files are in the databases and patterns folders with pfelk folder alongside the conf.d folder.

So I copied the files to where they are referencing and seems to wrok but got this new error now:

PS: Can you check the new pfelkdocker.zip. It looks like it still has the

[2021-03-26 12:05] a3ilson commented on #29
The zip file was updated and I just tested on my system - working w/o issues.

[2021-03-26 15:50] jcastillo725 commented on #29
hmm that's weird. I downloaded the new one, unzipped and still had to copy the databases and patterns from /pflek to /pfelk/conf.d. Anyway I was still having the errors with translate on service-names-port-numbers.csv and rule-names.csv. I ended up removing filters 35 and 36 and it worked.

I think the errors were weird though because I checked both CSVs and there were no extra quotation marks (")

[2021-03-26 17:03] a3ilson commented on #29
Let me test it again on a fresh instance (purge all docker containers/volumes)... I had issues before with the database look-ups but my current setup is running fine with them.

[2021-03-27 05:55] jcastillo725 commented on #29
Sorry this is off topic, for suricata do I need to install syslog-ng or the logs will be sent to the firewall's system logs? currently, I don't see surricata logs coming in.

[2021-03-27 13:01] a3ilson commented on #29
@jcastillo725 - that depends are you running OPNsense or pfSense?

OPNsense is the simplest as it utilizes syslog-ng natively.
pfSense is a bit wonky but [this](https://github.com/pfelk/pfelk/wiki/How-To:-Suricata-on-pfSense) guide should help it getting it configured and setup

[2021-03-27 15:49] jcastillo725 commented on #29
tcp("logstash.local"
do i change this to the ip since its on another host? I think I did but still not getting logs

[2021-03-27 16:24] a3ilson opened #30 "Sorry this is off topic, for suricata do I need to install syslog-ng or the logs will be sent to the firewall's system logs? currently, I don't see surricata logs coming in."
Sorry this is off topic, for suricata do I need to install syslog-ng or the logs will be sent to the firewall's system logs? currently, I don't see surricata logs coming in.

_Originally posted by @jcastillo725 in https://github.com/pfelk/docker/issues/29#issuecomment-808664049_

[2021-03-27 16:25] #30 closed, assigned to nobody

[2021-03-27 16:37] a3ilson commented on #29
This screenshot is from issue #276 running pfSense 2.5.0. I currently use OPNsense but I know multiple people have been able to get it working with the provided wiki instructions.

I would apply the following:}
[code]
and amend `logstash.local` with the host or IP of where pfelk is installed.

![109327219-174dd800-7826-11eb-83c4-784989fa3182](https://user-images.githubusercontent.com/16884679/1127

[2021-03-28 13:52] jcastillo725 commented on #29
I ended up using opnsense instead and got all the logs. Have you had the chance to test the lookups on a fresh instance?

[2021-03-28 14:11] a3ilson commented on #29
I am currently running with a fresh instance of:

- docker-compose.yml from [here](https://github.com/pfelk/pfelk/blob/main/docker-compose.yml)
- pfelk files from [here](https://github.com/pfelk/pfelk/tree/main/etc)

I plan to merge the two repos and squash the docker repo but that'll be a future endeavor (i.e. once I have additional free time). Let me know if you need or want assistance with sett

[2021-03-28 14:23] jcastillo725 commented on #29
And you're not getting any errors for service-names-port-numbers.csv and rule-names.csv? I will try that on another VM but I think we can close this issue now.

[2021-03-28 14:23] #29 closed, assigned to a3ilson

[2021-04-26 08:44] ghost235 opened #31 "can't log / logstash error"
Hi,
1st:  Thanks for this great repo!!

**Describe the bug**
I can not log into logstash (see logfiles)
have I to set any file rights ?

.:
insgesamt 2,1M
drwxr-xr-x 6 root root 4,0K Apr 26 10:20 .
drwxr-xr-x 2 root root 4,0K Apr 25 23:26 kibana
drwxr-xr-x 2 root root 4,0K Apr 25 23:26 logstash
drwxr-xr-x 2 root root 4,0K Apr 25 23:26 elasticsearch
drwxr-xr-x 4 root root 4,0K Apr 25 23:26 etc
drwx

[2021-04-26 10:38] a3ilson commented on #31
Here is the file structure:

[code]

Your file structure looks to be good...just make sure you are using the files from this [repo](https://github.com/pfelk/docker) and [this](https://github.com/pfelk/docker/blob/main/docker-compose.yml) docker-compose.yml

[2021-04-26 12:48] ghost235 commented on #31
I do but get this

logstash    | [ERROR] 2021-04-26 12:46:44.454 [Converge PipelineAction::Create<pfelk>] translate - Invalid setting for translate filter plugin:
logstash    |
logstash    |   filter {
logstash    |     translate {
logstash    |       # This setting must be a path
logstash    |       # File does not exist or cannot be opened /etc/pfelk/databases/rule-names.csv
logstash    |

[2021-04-26 19:33] a3ilson commented on #31
try removing the 35-rules.conf file and see if it works...odds are the contents of that file are empty (not widely utilized)

[2021-04-27 07:02] ghost235 commented on #31
now the error changed

logstash    | [ERROR] 2021-04-27 07:00:01.114 [Converge PipelineAction::Create<pfelk>] translate - Invalid setting for translate filter plugin:
logstash    |
logstash    |   filter {
logstash    |     translate {
logstash    |       # This setting must be a path
logstash    |       # File does not exist or cannot be opened /etc/pfelk/databases/service-names-port-numbers.csv

[2021-04-28 18:46] a3ilson commented on #31
Seems you have something misconfigured (docker-compose.yml and/or file location.

[2021-04-28 18:46] a3ilson commented on #31
What method did you utilize to install?

[2021-05-04 06:42] ghost235 commented on #31
Which location it sould be?

I use https://github.com/pfelk/docker 1-4 and https://github.com/pfelk/pfelk/blob/main/install/configuration.md 1+2 skript 3,4,6,8

[2021-05-04 20:45] a3ilson commented on #31
Awe...got it.

The 35-rules-desc.conf and 36-ports-desc.conf files do not currently work with this docker instance. Simple remove both files and everything should work. I renamed within the repo but need to update the Zip file.

[2021-05-05 21:24] ghost235 commented on #31
May be but sees to be not the only issue. Which locationthe files sould be?

Next Error:

logstash    | [ERROR] 2021-05-05 21:21:37.790 [Converge PipelineAction::Create<pfelk>] translate - Invalid setting for translate filter plugin:
logstash    |
logstash    |   filter {
logstash    |     translate {
logstash    |       # This setting must be a path
logstash    |       # File does not exist or ca

[2021-05-05 22:43] a3ilson commented on #31
okay...updated a few files. Retry (installing) or simply remove the 49-enhanced_private.conf file

[2021-05-06 16:21] ghost235 commented on #31
OK removing 49-enhanced_private.conf do the trick to the file errors! 👍

But seems something is wron in my configuration. In under Kibana -> Stack Management -> Index patterns -> e.g. pfelk-haproxy-* -> Fields  is emty

And regularly:

logstash    | [ERROR] 2021-05-06 07:18:46.808 [[pfelk]-pipeline-manager] javapipeline - Pipeline error {:pipeline_id=>"pfelk", :exception=>#<Grok::PatternError: pat

[2021-05-13 10:10] riccardospeggiorin-centropaghe opened #32 "No indexes in Kibana"
I have installed the pfelk in docker from the zip provided and run the sh script for creating templates and dashboards.
 All seems ok, the port 5140 of logstash is receving packet, checked with tcpdump and saw logs from firewall ip, but the dashborad shows me an error and I cannot see any index in the kibana dashborad management
![image](https://user-images.githubusercontent.com/66776629/118111538

[2021-05-14 10:28] riccardospeggiorin-centropaghe commented on #32
So after doing all from scratch  and without using the zip file, all seems to work!
There are some problems with the zip !

[2021-05-27 17:13] Thrilleratplay commented on #32
@riccardospeggiorin-centropaghe Thank you for this.  I spent too much time trying to figure out this issue.  Can you reopen this issue as I think the zip should be fixed?

[2021-05-28 06:45] riccardospeggiorin-centropaghe commented on #32
No problem. There are some files that are missing, like the first post

[2021-06-22 03:23] create-atl-delete commented on #32
I was able to resolve this to some extent by modifying the docker-compose.yml and correcting the paths for patterns and databases. Indexes are now populating, but none of the dashboards will load. Instead, I get a variety of errors regarding "Terms."

![image](https://user-images.githubusercontent.com/85801268/122857631-c8511480-d2e6-11eb-9973-851099ce1c6d.png)

Given that @riccardospeggiorin-cent

[2021-06-23 00:56] CreateAltDelete commented on #32
The docker-compose.yml in main has the correct paths. Can use `wget https://raw.githubusercontent.com/pfelk/docker/main/docker-compose.yml` as a workaround until .zip is fixed.

[2021-10-17 16:17] travisboss opened #33 "Thanks for product, question on config"
I read in another issue about updating the config for naming and interfaces.  I tried renaming since it only reconizes my instance as opnsense but it is in fact a pfsense instance and also tried naming each interface and vlans but the settings do not seem to stick on `docker-compose restart` is there something else I should be doing to get the names to match?

Also it looks like so far in the cont

[2021-10-17 22:53] #32 closed, assigned to nobody

[2021-10-17 22:55] a3ilson commented on #33
@travisboss - you'll need to update 02-types.conf and specifically lines 15/26. That is where you can change the values of the  observer.* fields.

[2021-10-17 22:56] a3ilson commented on #33
I just fixed the issue with the log formats on the main repo....give me a few and I'll fix the docker

[2021-10-18 01:59] travisboss commented on #33
@a3ilson I just also noticed for anyone who tries to grab all this from the zip file everything in there is very old compared to what is listed in this repo.

[2021-10-18 23:37] #33 closed, assigned to a3ilson

[2021-10-18 23:38] a3ilson commented on #33
Fixed/thanks!

[2021-10-18 23:39] a3ilson commented on #31
@ghost235 - is this still an issue? have you tried with the latest changes?

[2021-10-19 01:45] travisboss commented on #33
@a3ilson
[code]

Getting this error?

[2021-10-19 22:55] #31 closed, assigned to nobody

[2021-10-19 23:01] a3ilson commented on #33
@travisboss - still having the same issue?

I will likely delete this repo as have got everything to work with the main repo with and without docker utilizing the same files.

[2022-01-11 20:24] dagobertdebug opened #34 "Disk space"
Hi,

thanks for that great project!

I have a question regarding disk space: is there anything required to configure so that the disk of the pfelk host will not get full with logs? Is there a mechanisms that will free up some disk space after a certain amount is full?

Please head me into the right direction.

Thanks,
Dago

[2022-01-11 22:52] a3ilson commented on #34
@dagobertdebug - you could configure/revise the ILM settings to delete logs based on time and/or size which would self manage your disk space.

[2022-01-12 09:43] dagobertdebug commented on #34
@a3ilson, thanks for your reply and the hint!

I went to Stack Management ->Index Lifecycle Policies -> pfelk and changed the Warm Phase to 31 days, Cold Phase to 61 days and Delete Phase to 91 days.

Is it what you meant?

[2022-01-12 12:01] a3ilson commented on #34
@dagobertdebug - that is correct! There is a trash can proceeded by "Keep data in this phase forever" under nested in the warm and cold phase that it selected will delete the data vs keep forever.

I was incorrect/wrong in that you can define the phase by size. However that feature is being pursued ([issue #47764](https://github.com/elastic/elasticsearch/issues/47764)).

[2022-01-14 10:04] #34 closed, assigned to a3ilson

[2022-01-27 21:30] kk0201 commented on #14
Running into same issue as this.

logstash    | [INFO ] 2022-01-27 21:19:12.147 [[pfelk]-pipeline-manager] elasticsearch - New Elasticsearch output {:class=>"LogStash::Outputs::ElasticSearch", :hosts=>["http://localhost:9200"]}
logstash    | [INFO ] 2022-01-27 21:19:12.157 [[pfelk]-pipeline-manager] elasticsearch - Elasticsearch pool URLs updated {:changes=>{:removed=>[], :added=>[http://localhost

[2022-01-27 21:45] a3ilson commented on #14
@kk0201 - thanks! The issue was just fixed...had a typo where http://localhost:9200 should have been http://es01:9200

[2022-01-27 21:52] kk0201 commented on #14
Thanks for fixing it so quickly.

[2022-03-26 09:48] enarcee opened #38 "ERROR: for es01 Container "xxxxxxxxxxxx" is unhealthy"
Issue
-------------------------------------------------------------------------------
docker-compose erroring out when instantiating container - error below
tested on Ubuntu 20.04.4 LTS and 18.04.6 LTS VM - clean installs
hypervisor XCPng 8.2
Docker version 20.10.7, build 20.10.7-0ubuntu5~18.04.3
docker-compose version 1.17.1, build unknown

looks like an issue bringing up interfaces

what am I mi

[2022-03-26 15:58] SSzretter commented on #38
I am having the same issue

[2022-03-28 11:33] narkisr commented on #38
Hi @enarcee the docker-compose I'm using is 1.25.0, I would recommend upgrading to that

I would also try it on another hypervisor (plain old KVM) just to see if there is any issue there as well

Please also attach more docker logs

[2022-03-28 13:24] QuantumCorral commented on #38
I am having the same issue with 1.25.0

[2022-03-28 13:27] QuantumCorral commented on #38
found a solution

you have to set the passwords in the .env file

[2022-03-28 13:58] narkisr commented on #38
Great, happy that you found a solution.

The current docker docs need some TLC, ill try to get to that soon.

[2022-03-29 09:05] QuantumCorral commented on #38
unfortunately it still does not work.
It seems that different services can not authenticate.
or do not reach each other

I have also tried it with Debain 10/11 and the current Docker version, but unfortunately the same errors.

it is a VM on an ESXi host
Linux 4.9.0-18-amd64 x86_64
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"
VERSION_CODEN

[2022-03-29 14:08] narkisr commented on #38
Try to clear all the ES/Kibana state and re-launch, it could be that on the first time you ran it some of them got initialized with the wrong password/data.

[2022-04-01 09:53] enarcee commented on #38
It's the little things..."three little words"
see you have already updated doco
setting passwords in .env = issue resolved
thanks for the prompt support

[2022-04-01 09:53] #38 closed, assigned to nobody

[2022-04-01 11:16] narkisr commented on #38
Thank you @a3ilson

[2022-04-26 11:44] impovich opened #39 "Logstash 401 Unauthorized errors"
New installation.
I see ```401 Unauthorized``` error in logs. Also, Kibana asks for credentials.

**To Reproduce**
Steps to reproduce the behavior:
1. Install
2. check logs
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Operating System (please complete the following information):**
 - ```
Linux 5.15.0-27-generic x86_64
PRETTY_NAME="Ubuntu 22.04 LTS"
NAME="

[2022-04-26 13:13] a3ilson commented on #39
@AlexanderHamza

- [ ] Did you set the variables (credentials) within the `.env` file?
- [ ] Did you set the credentials within line [59](https://github.com/pfelk/docker/blob/b357b305f0ab72b19078a42d2d8d6b674e340fe8/etc/pfelk/conf.d/50-outputs.pfelk#L59) of the [50-outputs.conf](https://github.com/pfelk/docker/blob/main/etc/pfelk/conf.d/50-outputs.pfelk) file?
- [ ] Did you configure the user defi

[2022-04-26 13:16] impovich commented on #39
@a3ilson
1) yes
2 and 3) they were set by default as:
[code]

[2022-04-26 13:19] a3ilson commented on #39
Odd...My setup is the same except I'm running Ubuntu Server v20.04. Let me install a fresh instance of v22.04 and see if I can replicate the issue - might be later on in the week when I have time to get around to it.

[2022-04-26 13:26] impovich commented on #39
@a3ilson

Please  take a look at this once you get your hands on the issue:
<img width="592" alt="Screenshot at Apr 26 15-24-13" src="https://user-images.githubusercontent.com/7243886/165310186-910e7af7-be66-424f-aeb6-0059beb58e54.png">

[2022-05-31 15:02] a3ilson commented on #39
@impovich this issue should be mitigated with the #40 Fix provided by @braunbearded

Please confirm/close

[2022-05-31 15:27] impovich commented on #39
Hi, @a3ilson I will check and provide you with feedback, thank you for the notification.

[2022-06-30 07:32] ghost235 opened #41 "Kibana config"
Hi,
have I to do this seps for the compose install? It is not in the README.md.
https://www.youtube.com/watch?v=a1no6AlXP-k

https://github.com/pfelk/pfelk/blob/main/install/security.md#two-templates

[2022-07-01 00:01] a3ilson commented on #41
@ghost235 - thanks! I've updated the README.md

[2022-07-01 00:01] #41 closed, assigned to a3ilson

[2022-07-14 14:22] panks21 opened #42 "Maxmind geoip volume mount in docker-compose"
Not an issue but a question.
Where do we setup the maxmind geoip in the docker-compose file??

[2022-07-16 16:09] capmerah opened #43 "stuck with docker compose up process and unable to access Kibana"
**Describe the bug**
stuck with docker compose up process and unable to access Kibana

**To Reproduce**
after sudo docker-compose up

**Operating System (please complete the following information):**
 - OS (`Linux 4.4.180+ x86_64"`):
 - Version of Docker (`20.10.3, build 55f0773`):
 - Version of Docker-Compose (`1.28.5`):

**Elasticsearch, Logstash, Kibana (please complete the following informatio

[2022-07-19 02:52] a3ilson commented on #42
You would need to amend the docker-compose.yml file (after line 231). Adding the location of the maxmind databases. Then you’d need to amend the 30-geoip.pfelk file, pointing to the alternate location (eg maxmind database files).

[2022-07-19 02:55] a3ilson commented on #43
Appears that you need to configure the security (eg step 4) from the readme.

[2022-07-20 00:01] capmerah commented on #43
I did, I replace ELASTIC-PASSWORD, KIBANA-PASSWORD, LOGSTASH-PASSWORD with my own password and used the script.

[2022-07-20 04:48] capmerah commented on #43
I did, I replace ELASTIC-PASSWORD, KIBANA-PASSWORD, LOGSTASH-PASSWORD with my own password and used the script.

[2022-07-20 04:49] capmerah commented on #43
I did, I replace ELASTIC-PASSWORD, KIBANA-PASSWORD, LOGSTASH-PASSWORD with my own password and used the script.

[2022-07-20 11:27] a3ilson commented on #43
Did you amend the passwords then run the script?

Try running just the script, if you haven’t already, from a fresh unzip of the main.zip.

[2022-07-20 13:43] capmerah commented on #43
Yes I did.

I tried running the script. Same error is still exists.

I am currently running synology ds220+ with 18gb ram(16+2) so I can only use 7z x instead of unzip, synology is still linux and it still can run docker though. But another problem with synology is that I cannot run apt-get. Let me know if using synology is not possible so that I can power up a linux VM inside synology and run an

[2022-07-22 15:40] a3ilson commented on #43
I’m currently away but I’ll treat this next week and see if i can determine the issue. However, i do but have the same hardware which may be the culprit.

[2022-07-25 05:32] capmerah commented on #43
Thanks for input. For now I'll power up my librenms(temp) on my docker from synology based on https://github.com/librenms/docker which is up and running. I still prefer grafana though so I'll wait for your next step on how to troubleshoot. If still no dice then VM it is.

[2022-08-08 01:59] alovillagon commented on #43
Same issue here, all running

"Docker ps" show all process are running

Cant access from the LAN to the port 5601... but when I use "curl ip:port" from the server, can access it

[2022-08-08 02:01] alovillagon commented on #43
SOLVED:

Replace all values where "127.0.0.1" to "0.0.0.0" in "docker-compose.yml"

[2022-08-23 19:12] Neccie commented on #43
I have ran in the same issue i think, running with docker-compose and my kibana got stuck on starting.
I cannot confim but i think it had to do with the passwords, i used complex ones and that seemed to fail. Tried simple passwords (as in no special characters) and it suddenly worked (or it was something else). Worth a try and confirm perhaps?

[2022-08-24 01:08] a3ilson commented on #43
@Neccie are you also running in a synology? This odd running on my current setup via Ubuntu.

[2022-08-24 01:28] Neccie commented on #43
Ubuntu 22.04 LTS on a existing docker installation. I'm still not sure what i did but double check .env passwords and docker-compose.yml.
If i now purge everything and use my working 2 config files I get everything to start up as it should.

[2022-08-24 01:46] a3ilson commented on #43
Are your working config files different than the repo? Or was this a glitch/fluke?

[2022-08-24 02:36] Neccie commented on #43
Actually tried it in a new VM to confirm, might be me but it goes wrong for me when i use special characters in the .env file for the passwords.
For instance if i use "1234567890"  it fails cause it expects a string, so "ab1234567890cd" works fine but "ab12345$%^&67890cd" will fail again which was my initial problem i guess. With or without qoutes doesn't matter.